<!-- Si l'utilisateurs obtients des erreurs -->
<% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <!-- On parcours les erreurs et on affiche les messages des erreurs dans notre bloc message -->
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">Modifier mon compte</div>
  <div class="panel-body">
    <!-- On passe l entité utilisateur en paramètres à notre form for -->
    <%= form_for @user, url: profil_path , html: {class: 'form-horizontal'} do |f| %>

        <% if @user.avatar %>
            <%= image_tag @user.avatar_url %>
        <% end %>


        <div class="form-group">
          <%= f.label :avatar, "Avatar", class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= f.file_field :avatar_file, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :username, "Nom d'utilisateur", class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :username, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email", class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :firstname, "Prenom", class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :firstname, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :lastname, "Nom", class: 'col-md-4 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :lastname, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-6">
            <button type="submit" class="btn btn-primary">
              Modifier mon compte
            </button>
          </div>
        </div>

    <% end %>
  </div>
</div>
