<div class="row">
  <div class="col-md-2">
    <%= image_tag @book.cover, class: 'img-circle' %>
  </div>
  <div class="col-md-10">
    <h2><%= @book.name %></h2>
    <% if user_signed_in? %>
        <% if @book.followedBy?(current_user) %>
            <%= link_to "Se désabonner", [@book, Subscription], method: :delete, class: 'btn btn-warning' %>
        <% else %>
            <%= link_to "S'abonner", [@book, Subscription], method: :post, class: 'btn btn-success' %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @book.posts.each do |post| %>
      <div class="col-md-4">
        <%= render post %>
      </div>
  <% end %>
</div>